In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
# import tensorflow as tf
from sklearn import linear_model
import matplotlib.pyplot as plt
import numpy as np
df_c = pd.read_csv("FINAL_data.csv")
df_c

,Unnamed: 0,Country,year,Region,happiness_rank,happiness_score,gpd_per_capita,Family,life_expectancy,Freedom,government_corruption,Generosity
0,0,Switzerland,2015.0,Western Europe,1.0,7.587,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780
1,1,Iceland,2015.0,Western Europe,2.0,7.561,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300
2,2,Denmark,2015.0,Western Europe,3.0,7.527,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390
3,3,Norway,2015.0,Western Europe,4.0,7.522,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990
4,4,Canada,2015.0,North America,5.0,7.427,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110
...,...,...,...,...,...,...,...,...,...,...,...,...
444,292,Guinea,2017.0,Africa,149.0,3.507,0.244550,0.791245,0.194129,0.348588,0.110938,0.264815
445,294,Togo,2017.0,Africa,150.0,3.495,0.305445,0.431883,0.247106,0.380426,0.095665,0.196896
446,296,Rwanda,2017.0,Africa,151.0,3.471,0.368746,0.945707,0.326425,0.581844,0.455220,0.252756
447,302,Burundi,2017.0,Africa,154.0,2.905,0.091623,0.629794,0.151611,0.059901,0.084148,0.204435
448,304,Central African Republic,2017.0,Africa,155.0,2.693,0.000000,0.000000,0.018773,0.270842,0.056565,0.280876

In [3]:
df_c["year"].value_counts()

2015.0    158
2016.0    157
2017.0    134
Name: year, dtype: int64

In [4]:
df_c["Region"].value_counts()

Sub-Saharan Africa                 78
Central and Eastern Europe         58
Latin America and Caribbean        46
Western Europe                     42
Africa                             40
Middle East and Northern Africa    39
Asia                               37
Europe                             34
Americas                           21
Southeastern Asia                  18
Southern Asia                      14
Eastern Asia                       12
North America                       4
Australia and New Zealand           4
Oceania                             2
Name: Region, dtype: int64

In [5]:
df_c["Country"].value_counts()

Kenya                3
Togo                 3
Zimbabwe             3
Malawi               3
Yemen                3
                    ..
Swaziland            1
Somaliland Region    1
Puerto Rico          1
Djibouti             1
Somaliland region    1
Name: Country, Length: 164, dtype: int64

In [6]:
df_c = df_c.drop(["happiness_rank", "year", "Region", "Unnamed: 0"], axis='columns')
df_c.head()

,Country,happiness_score,gpd_per_capita,Family,life_expectancy,Freedom,government_corruption,Generosity
0,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [7]:
df_c.corr

<bound method DataFrame.corr of                       Country  happiness_score  gpd_per_capita    Family  \
0                 Switzerland            7.587        1.396510  1.349510
1                     Iceland            7.561        1.302320  1.402230
2                     Denmark            7.527        1.325480  1.360580
3                      Norway            7.522        1.459000  1.330950
4                      Canada            7.427        1.326290  1.322610
..                        ...              ...             ...       ...
444                    Guinea            3.507        0.244550  0.791245
445                      Togo            3.495        0.305445  0.431883
446                    Rwanda            3.471        0.368746  0.945707
447                   Burundi            2.905        0.091623  0.629794
448  Central African Republic            2.693        0.000000  0.000000

     life_expectancy   Freedom  government_corruption  Generosity
0           0.941430  0.665570               0.419780    0.296780
1           0.947840  0.628770               0.141450    0.436300
2           0.874640  0.649380               0.483570    0.341390
3           0.885210  0.669730               0.365030    0.346990
4           0.905630  0.632970               0.329570    0.458110
..               ...       ...                    ...         ...
444         0.194129  0.348588               0.110938    0.264815
445         0.247106  0.380426               0.095665    0.196896
446         0.326425  0.581844               0.455220    0.252756
447         0.151611  0.059901               0.084148    0.204435
448         0.018773  0.270842               0.056565    0.280876

[449 rows x 8 columns]>

In [8]:
df_c

,Country,happiness_score,gpd_per_capita,Family,life_expectancy,Freedom,government_corruption,Generosity
0,Switzerland,7.587,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780
1,Iceland,7.561,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300
2,Denmark,7.527,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390
3,Norway,7.522,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990
4,Canada,7.427,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110
...,...,...,...,...,...,...,...,...
444,Guinea,3.507,0.244550,0.791245,0.194129,0.348588,0.110938,0.264815
445,Togo,3.495,0.305445,0.431883,0.247106,0.380426,0.095665,0.196896
446,Rwanda,3.471,0.368746,0.945707,0.326425,0.581844,0.455220,0.252756
447,Burundi,2.905,0.091623,0.629794,0.151611,0.059901,0.084148,0.204435
448,Central African Republic,2.693,0.000000,0.000000,0.018773,0.270842,0.056565,0.280876

In [9]:
# Split our preprocessed data into our features and target arrays
X1 = df_c.drop(columns="happiness_score").values
y1 = df_c.happiness_score.values

# Split the preprocessed data into a training and testing dataset
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, random_state=42)
data = X1_train, X1_test, y1_train, y1_test

In [10]:
countries_train = [x[0] for x in X1_train]
countries_test = [x[0] for x in X1_test]

In [11]:
X1_train = [x[1:] for x in X1_train]
X1_test = [x[1:] for x in X1_test]

In [12]:
compare_df = pd.DataFrame({'country':countries_test, 'actual': y1_test, 'predicted': 'pred'})
compare_df

          country  actual predicted
0         Senegal   4.219      pred
1     Ivory Coast   3.916      pred
2           Sudan   4.550      pred
3    Saudi Arabia   6.344      pred
4       Mauritius   5.477      pred
..            ...     ...       ...
108       Finland   7.406      pred
109         Japan   5.987      pred
110         Benin   3.340      pred
111       Liberia   3.622      pred
112       Morocco   5.235      pred

[113 rows x 3 columns]

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X1_scaler = scaler.fit(X1_train)

# Scale the data
X1_train_scaled = X1_scaler.transform(X1_train)
X1_test_scaled = X1_scaler.transform(X1_test)

In [14]:
data= [X1_train_scaled, X1_test_scaled, y1_train, y1_test]

In [15]:
from sklearn.linear_model import LinearRegression
classifier = LinearRegression()
# classifier

# Fit the model to the data
classifier.fit(X1_train_scaled, y1_train)

print(f"Training Data Score: {classifier.score(X1_train_scaled, y1_train)}")
print(f"Testing Data Score: {classifier.score(X1_test_scaled, y1_test)}")

predictions_clr = classifier.predict(X1_test_scaled)
predictions_df= pd.DataFrame({"Prediction": predictions_clr, "Actual": y1_test})
predictions_df

# Plot outputs
# plt.scatter(X1_test, y1_test, color="black")
# plt.plot(X1_test, predictions, color="blue", linewidth=3)

# plt.xticks(())
# plt.yticks(())

# plt.show()

Training Data Score: 0.7393901378351615
Testing Data Score: 0.8494853874320927

     Prediction  Actual
0      4.334137   4.219
1      4.105379   3.916
2      4.231418   4.550
3      6.352160   6.344
4      5.857241   5.477
..          ...     ...
108    6.868960   7.406
109    6.488988   5.987
110    4.045141   3.340
111    3.500724   3.622
112    5.091506   5.235

[113 rows x 2 columns]

In [16]:
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor().fit(X1_train_scaled, y1_train)
print(f'Training Score: {clf.score(X1_train_scaled, y1_train)}')
print(f'Testing Score: {clf.score(X1_test_scaled, y1_test)}')

predictions_c = clf.predict(X1_test_scaled)
predictions_df= pd.DataFrame({"Prediction": predictions_c, "Actual": y1_test})
predictions_df

Training Score: 0.9686666798003545
Testing Score: 0.8166590660309179

     Prediction  Actual
0       4.19732   4.219
1       4.32509   3.916
2       4.20261   4.550
3       6.18499   6.344
4       4.88329   5.477
..          ...     ...
108     7.21672   7.406
109     6.12672   5.987
110     3.79072   3.340
111     3.85658   3.622
112     5.40423   5.235

[113 rows x 2 columns]

In [17]:
compare_df = pd.DataFrame({'country':countries_test, 'actual': y1_test, 'linear predicted': predictions_clr, 'random forest':predictions_c})
compare_df

          country  actual  linear predicted  random forest
0         Senegal   4.219          4.334137        4.19732
1     Ivory Coast   3.916          4.105379        4.32509
2           Sudan   4.550          4.231418        4.20261
3    Saudi Arabia   6.344          6.352160        6.18499
4       Mauritius   5.477          5.857241        4.88329
..            ...     ...               ...            ...
108       Finland   7.406          6.868960        7.21672
109         Japan   5.987          6.488988        6.12672
110         Benin   3.340          4.045141        3.79072
111       Liberia   3.622          3.500724        3.85658
112       Morocco   5.235          5.091506        5.40423

[113 rows x 4 columns]

In [18]:
compare_df.to_csv("prediction_comparison.csv", index= False)

In [19]:
# from sklearn.ensemble import Lasso
clf = linear_model.Lasso(alpha=.001).fit(X1_train_scaled, y1_train)
print(f'Training Score: {clf.score(X1_train_scaled, y1_train)}')
print(f'Testing Score: {clf.score(X1_test_scaled, y1_test)}')

predictions_lasso = clf.predict(X1_test_scaled)
predictions_l_df= pd.DataFrame({"Lasso Prediction": predictions_lasso, "Actual": y1_test})
predictions_l_df

Training Score: 0.7393882377459953
Testing Score: 0.8492500569803096

     Lasso Prediction  Actual
0            4.335502   4.219
1            4.107270   3.916
2            4.232256   4.550
3            6.351271   6.344
4            5.856566   5.477
..                ...     ...
108          6.866531   7.406
109          6.488401   5.987
110          4.047649   3.340
111          3.503025   3.622
112          5.093423   5.235

[113 rows x 2 columns]

In [20]:
%matplotlib inline
from matplotlib import pyplot as plt
# from sklearn.datasets import make_regression, make_swiss_roll
import numpy as np
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.svm import SVR

In [21]:
    data = X1_train_scaled, X1_test_scaled, y1_train, y1_test

In [22]:
def test_model(model, data):
    X1_train_scaled, X1_test_scaled, y1_train, y1_test = data
    reg = model.fit(X1_train_scaled, y1_train)
    print(f'Model: {type(reg).__name__}')
    print(f'Train score: {reg.score(X1_train_scaled, y1_train)}')
    print(f'Test Score: {reg.score(X1_test_scaled, y1_test)}\n')
    plt.show()

In [23]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor
from sklearn.svm import SVR

In [24]:
test_model(LinearRegression(), data)
test_model(Ridge(), data)
test_model(Lasso(alpha = .001), data)
test_model(ElasticNet(), data)
test_model(SVR(C=1.0, epsilon=0.001), data)
test_model(KNeighborsRegressor(), data)
test_model(RandomForestRegressor(random_state=1, n_estimators=100), data)
test_model(ExtraTreesRegressor(), data)
test_model(AdaBoostRegressor(), data)

Model: LinearRegression
Train score: 0.7393901378351615
Test Score: 0.8494853874320927

Model: Ridge
Train score: 0.7393880852483157
Test Score: 0.849521505688118

Model: Lasso
Train score: 0.7393882377459953
Test Score: 0.8492500569803096

Model: ElasticNet
Train score: 0.36889495181065135
Test Score: 0.37641011265080393

Model: SVR
Train score: 0.8494946234560992
Test Score: 0.8587158966712433

Model: KNeighborsRegressor
Train score: 0.8624256742518872
Test Score: 0.8070943187204942

Model: RandomForestRegressor
Train score: 0.971805322797021
Test Score: 0.808628801989776

Model: ExtraTreesRegressor
Train score: 1.0
Test Score: 0.8368469641734066

Model: AdaBoostRegressor
Train score: 0.8294162657904558
Test Score: 0.7942367921966829

In [26]:
# import mpl_toolkits.mplot3d.axes3d as p3
# # #############################################################################
# # Plot the result
# fig = plt.figure()
# ax = p3.Axes3D(fig)
# ax.view_init(7, -80)
# ax.scatter(X[0], X[1], X[2],
#            color=plt.cm.jet(y/y.max()),
#            s=20, edgecolor='k')
# plt.show()

## Separate Train Test Data

In [27]:
train_df = pd.read_csv("FINAL_data.csv")
test_df = pd.read_csv("2019_updated.csv")
train_df

,Unnamed: 0,Country,year,Region,happiness_rank,happiness_score,gpd_per_capita,Family,life_expectancy,Freedom,government_corruption,Generosity
0,0,Switzerland,2015.0,Western Europe,1.0,7.587,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780
1,1,Iceland,2015.0,Western Europe,2.0,7.561,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300
2,2,Denmark,2015.0,Western Europe,3.0,7.527,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390
3,3,Norway,2015.0,Western Europe,4.0,7.522,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990
4,4,Canada,2015.0,North America,5.0,7.427,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110
...,...,...,...,...,...,...,...,...,...,...,...,...
444,292,Guinea,2017.0,Africa,149.0,3.507,0.244550,0.791245,0.194129,0.348588,0.110938,0.264815
445,294,Togo,2017.0,Africa,150.0,3.495,0.305445,0.431883,0.247106,0.380426,0.095665,0.196896
446,296,Rwanda,2017.0,Africa,151.0,3.471,0.368746,0.945707,0.326425,0.581844,0.455220,0.252756
447,302,Burundi,2017.0,Africa,154.0,2.905,0.091623,0.629794,0.151611,0.059901,0.084148,0.204435
448,304,Central African Republic,2017.0,Africa,155.0,2.693,0.000000,0.000000,0.018773,0.270842,0.056565,0.280876

In [28]:
test_df

,Unnamed: 0,Country,year,Region,happiness_rank,happiness_score,gdp_per_capita,life_expectancy,Freedom,Generosity,government_corruption
0,0,Finland,2019.0,Europe,1.0,7.769,1.340,0.986,0.596,0.153,0.393
1,1,Denmark,2019.0,Europe,2.0,7.600,1.383,0.996,0.592,0.252,0.410
2,2,Norway,2019.0,Europe,3.0,7.554,1.488,1.028,0.603,0.271,0.341
3,3,Iceland,2019.0,Europe,4.0,7.494,1.380,1.026,0.591,0.354,0.118
4,4,Netherlands,2019.0,Europe,5.0,7.488,1.396,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...,...,...
266,266,Viet Nam,NaN,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,267,Virgin Islands (British),NaN,Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,268,Virgin Islands (U.S.),NaN,Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,269,Wallis and Futuna,NaN,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,270,Western Sahara,NaN,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
test_df = test_df.drop(["happiness_rank", "year", "Region", "Unnamed: 0"], axis='columns')
test_df.head()

,Country,happiness_score,gdp_per_capita,life_expectancy,Freedom,Generosity,government_corruption
0,Finland,7.769,1.340,0.986,0.596,0.153,0.393
1,Denmark,7.600,1.383,0.996,0.592,0.252,0.410
2,Norway,7.554,1.488,1.028,0.603,0.271,0.341
3,Iceland,7.494,1.380,1.026,0.591,0.354,0.118
4,Netherlands,7.488,1.396,0.999,0.557,0.322,0.298

In [30]:
test_df = test_df.dropna()

In [31]:
train_df = train_df.drop(["happiness_rank", "year", "Region", "Unnamed: 0", "Family"], axis='columns')
train_df.head()

,Country,happiness_score,gpd_per_capita,life_expectancy,Freedom,government_corruption,Generosity
0,Switzerland,7.587,1.39651,0.94143,0.66557,0.41978,0.29678
1,Iceland,7.561,1.30232,0.94784,0.62877,0.14145,0.43630
2,Denmark,7.527,1.32548,0.87464,0.64938,0.48357,0.34139
3,Norway,7.522,1.45900,0.88521,0.66973,0.36503,0.34699
4,Canada,7.427,1.32629,0.90563,0.63297,0.32957,0.45811

In [32]:
train_df = train_df.rename(columns={"gpd_per_capita": "gdp_per_capita"})
train_df.head()

,Country,happiness_score,gdp_per_capita,life_expectancy,Freedom,government_corruption,Generosity
0,Switzerland,7.587,1.39651,0.94143,0.66557,0.41978,0.29678
1,Iceland,7.561,1.30232,0.94784,0.62877,0.14145,0.43630
2,Denmark,7.527,1.32548,0.87464,0.64938,0.48357,0.34139
3,Norway,7.522,1.45900,0.88521,0.66973,0.36503,0.34699
4,Canada,7.427,1.32629,0.90563,0.63297,0.32957,0.45811

In [33]:
train_df = train_df.loc[:, ["Country","happiness_score","gdp_per_capita","life_expectancy", "Freedom", "Generosity", "government_corruption"]]
train_df.head()

,Country,happiness_score,gdp_per_capita,life_expectancy,Freedom,Generosity,government_corruption
0,Switzerland,7.587,1.39651,0.94143,0.66557,0.29678,0.41978
1,Iceland,7.561,1.30232,0.94784,0.62877,0.43630,0.14145
2,Denmark,7.527,1.32548,0.87464,0.64938,0.34139,0.48357
3,Norway,7.522,1.45900,0.88521,0.66973,0.34699,0.36503
4,Canada,7.427,1.32629,0.90563,0.63297,0.45811,0.32957

In [34]:
train_df = train_df.dropna()

In [35]:
# Split our preprocessed data into our features and target arrays
X_train = train_df.drop(columns="happiness_score").values
y_train = train_df.happiness_score.values

# Split the preprocessed data into a training and testing dataset
# X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, random_state=42)
# data = X1_train, X1_test, y1_train, y1_test

In [36]:
X_test = test_df.drop(columns="happiness_score").values
y_test = test_df["happiness_score"]

In [37]:
countries_train_df = [x[0] for x in X_train]
countries_test_df = [x[0] for x in X_test]

In [38]:
X_train = [x[1:] for x in X_train]
X_test = [x[1:] for x in X_test]

In [39]:
train_countries_df = pd.DataFrame({'country':countries_test_df, 'actual': y_test, 'linear predicted': "linear pred", 'random forest': "random pred"})
train_countries_df

                      country  actual linear predicted random forest
0                     Finland   7.769      linear pred   random pred
1                     Denmark   7.600      linear pred   random pred
2                      Norway   7.554      linear pred   random pred
3                     Iceland   7.494      linear pred   random pred
4                 Netherlands   7.488      linear pred   random pred
..                        ...     ...              ...           ...
151                    Rwanda   3.334      linear pred   random pred
152                  Tanzania   3.231      linear pred   random pred
153               Afghanistan   3.203      linear pred   random pred
154  Central African Republic   3.083      linear pred   random pred
155               South Sudan   2.853      linear pred   random pred

[156 rows x 4 columns]

In [40]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [41]:
from sklearn.linear_model import LinearRegression
classifier = LinearRegression()
# classifier

# Fit the model to the data
classifier.fit(X_train_scaled, y_train)

print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

predictions_clr = classifier.predict(X_test_scaled)
predictions_df= pd.DataFrame({"Prediction": predictions_clr, "Actual": y_test})
predictions_df

Training Data Score: 0.7492152696573513
Testing Data Score: 0.7424098343108443

     Prediction  Actual
0      6.899565   7.769
1      7.020708   7.600
2      7.186533   7.554
3      6.926663   7.494
4      6.942099   7.488
..          ...     ...
151    5.119618   3.334
152    4.736554   3.231
153    3.471835   3.203
154    3.204270   3.083
155    3.413541   2.853

[156 rows x 2 columns]

In [42]:
train_countries_df = pd.DataFrame({'country':countries_test_df, 'actual': y_test, 'linear_predicted': predictions_clr})
train_countries_df

                      country  actual  linear_predicted
0                     Finland   7.769          6.899565
1                     Denmark   7.600          7.020708
2                      Norway   7.554          7.186533
3                     Iceland   7.494          6.926663
4                 Netherlands   7.488          6.942099
..                        ...     ...               ...
151                    Rwanda   3.334          5.119618
152                  Tanzania   3.231          4.736554
153               Afghanistan   3.203          3.471835
154  Central African Republic   3.083          3.204270
155               South Sudan   2.853          3.413541

[156 rows x 3 columns]

In [43]:
train_countries_df.to_csv("prediction_2019_comparison.csv", index= False)

In [44]:
import pymongo 

connection_string = "mongodb://localhost:27017"

client = pymongo.MongoClient(connection_string)

# Declare the database
db = client.happy_db

# # Declare the collection
country_predict = db.country_predict

# train_countries_df.reset_index(inplace=True)
data_dict = train_countries_df.to_dict("records")
country_predict.insert_many(data_dict)

print("ETL Complete")

ETL Complete